body {
    background-color: #F9FAFC;
}

/* navbar */


/* landing page */

.hero-outer {
    height: 608px;
    width: 100%;
}

.hero-image {
    background: url(https://res.cloudinary.com/dg4yiogei/image/upload/v1673717784/hero-image-guy-big-resized_tj5y43.jpg) 26%;
    height: 613px;
    margin-top: -99px;
    background-repeat: no-repeat;
    background-size: cover;
}

#slogan {
    margin-top: -459px !important;
    margin-left: 107px;
    color: #fff;

}

#book-button-container {
    position: absolute;
    margin-top: 108px;
    left: 115px;
    width: 873px;
}

#book-button {
    font-size: 30px;
    max-width: 204px;
}

.fa-ul {
    /* class to align items in footer list */
    margin-left: 2rem;
}

.full-width {
    /* class to extend max-width in bootstrap containers */
    max-width: 1400px;
}



.btn-card:hover {
    box-shadow: rgba(103 42 46 / 12%) 0px 0px 8px 0px, rgb(103 42 46 / 24%) 0px 8px 8px 0px;
}

.btn-login {
    color: #4e4d4dbd;
    --bs-btn-color: #BC8180;
    --bs-btn-border-color: rgba(187, 128, 127, 0.83);
    --bs-btn-hover-bg: #BC8180;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-border-color: #BC8180;
    --bs-btn-active-bg: #BC8180;
    --bs-btn-active-border-color: #BC8180;
    border-radius: 1rem;
}
.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #4A4A4F;
}

.red-o {
    color: #E84610;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #445261;
}

.main-bg {
    background-color: #F9FAFC;
}


.btn-signup {
    background-color: #23BBBB;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}
