body {
    height: 100%;
    width: 100%;
    background-color: #F9FAFC;
    font-weight: 700;
}

.form-control:focus {
    box-shadow: 0 0 5px rgba(110, 115, 122, 1) !important;
  }

  .btn {
    box-shadow: 0 0 5px rgba(110, 115, 122, 1) !important;
  }

/* navbar */


/* landing page */

/* styles and positions the background and text overlay */
.bg-image {
    background-image: url(https://res.cloudinary.com/dg4yiogei/image/upload/v1673717784/hero-image-guy-big-resized_tj5y43.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: table;
    height: 100vh;
    width: 100%;
    position: relative;

}

.color-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
}

.landing-text {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: #fff;
}

.landing-text h1 {
    font-size: 300%;
    font-weight: 700
}
    
.landing-text h2 {
    font-size: 100%;
}

/* User Profile*/
.card-text {
    color: #fff;
}

/* background color themes */
.light-bg {
    background-color: #F9FAFC;
    color: #1C2023;
}

.dark-bg {
    background-color: #1C2023;
    color: #fff;
}

.main-bg {
    background-color: #B9C4CA;
    color: #000;
}

/* controls */
/* styles for the buttons and links */

.btn-signup {
    background-color: #19192D;
    color: #fff;
    border-color: #6E737A;
}

.btn-signup:hover,
.btn-signup:active {
    background-color:#6E737A;
    color: #fff;
    font-weight: 700;
    border-color: #19192D;
}

.navbar-dark .btn-signup {
    background-color: #6E737A;
    color: #fff;
}

.navbar-dark .btn-signup:hover,
.navbar-dark .btn-signup:active {
    background-color: #B9C4CA;
    color: #19192D;
    font-weight: 700;
}

 .btn-secondary {
    outline: 0 0 5px rgba(110, 115, 122, 1) !important;
    box-shadow: 0 0 5px rgba(110, 115, 122, 1);
    background-color: #6E737A;
    color: #fff;
    
}

.btn-secondary:hover,
.btn-secondary:active {
    background-color: #B9C4CA;
    color: #19192D;
}


.link {
    color: #0653C7;
    text-decoration: none;
}

.link:hover {
    color: #217AFF;
    text-decoration: underline;
}

/* footer*/
.socials {
    color: #fff;
}

.socials:hover,
.socials:active {
    color: #6E737A;
}


@media (max-width: 768px) {
    .bg-image {
        background-image: url(https://res.cloudinary.com/dg4yiogei/image/upload/v1674067019/cropped_2_tb9xhh.jpg);
    }
    /* .landing-text{
        vertical-align: middle;

    } */
   .landing-text h1 {
        font-size: 200%;
    }

    .landing-text h2 {font-size: 70%;
    }
        
    
}