{% extends "base.html" %} 
{% block content %}

<!-- hero image -->
<div class="container d-flex flex-column align-items-center">
  <div class="row justify-content-center">
    <div class="col-md-8 text-center">
      <h2>Hmm.. Looks like you've wandered off the beaten path.</h2>
      <br>
      <p>Click on the image to head back to the home page.</p>
    </div>
  </div>
  <div class="row justify-content-center mt-4">
    <div class="col-md-4 text-center">
      <a href="index.html">
        <img src="https://res.cloudinary.com/dg4yiogei/image/upload/v1673973090/logo_original_thumbnail_resized_kchhpi.jpg" alt="motivate-404" class="img-fluid">
      </a>
    </div>
  </div>
</div>

{% endblock %}