{% extends 'base.html' %} {% block content %}

<!--  -->
<section class="container-fluid text-center res-details">
    <div class="row">
      <div class="col-12">
        <h1>Cancel Appointment</h1>
        <hr>
        <p>Are you sure you want to cancel this appointment? 
      </div>
    </div>
    <div class="row">
      <div class="col d-flex justify-content-center flex-wrap">
        <!-- displays appointment date and time details -->
        <div class="card m-2 col-m-2 bg-dark" style="width: 12em;">
          <div class="card-body">
            <p class="card-text"> {{  booking.date }}</p>
            <p class="card-text"> {{ booking.time }}</p>
          </div>
        </div>
      </div>
    </div>
   
    <form action="" method="post">
      {% csrf_token %}
      <input type="submit" value="Cancel" class="btn btn-danger">
      <a href="{% url 'user_profile' %}" class="btn btn-success">Keep</a>
    </form>
  </section>
  
{% endblock content %}
