{% extends "base.html" %}

{% block content %}

<!-- hero image -->
<section class="hero-outer">
    <div class="bg-image">
        <div class="landing-text color-overlay">
            <h1>Motivate Fitness</h1>
            <br>
            <h2>Online Personal Training Services</h2>
            <h2>At Home Fitness Programmes</h2>
            <br>
            <br>
            {% if user.is_authenticated %}
                <a href="{% url 'add_booking' %}" class="btn btn-secondary btn-lg">Book
                    Now!</a>
                {% else %}
                <a href="{% url 'account_login' %}"
                    class="btn btn-secondary btn-lg">Book
                    Now!</a>
    
                {% endif %}
        </div>

    </div>
    
</section>


{%endblock%}